.main_layout{
    padding: 0 20px;
}

.title h1{
    margin: 0px;
}
.title p{
    margin: 0px;
}
.title{
    padding-left: 10px;
}
.main_container{
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;

}
.info_container{
    
    box-shadow: 0 0 15px  #d02df1ac;
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.info_container h2{
    margin: 0px;

}
.simple_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.meta_data{
    display: flex;
    padding-left: 10    px;
   column-gap: 10px;
    color: grey;
}
.grid_layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}
.last_section{
   display: grid;
   grid-template-columns: 1fr 2fr;
   
}
.location_info{
    display: flex;
    background-color:  #fcedff;
    border-radius: 24px;
    padding-left: 10px;
    column-gap: 15px;

    
}
.img_container{
    position: relative;
}
.price{
    position: absolute;
    text-align: center;
    background-color: #eb47fa;
    width: 125px;
    height: 60px;
    color: white;
    right: 0;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    
}